@charset "utf-8";

header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 20px 24px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
    opacity: 0;
    font-family: "Archivo", sans-serif;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 0 40px;
}

/* 메인 */
.intro .porfolio_title {
    width: 100%;
    height: 100vh;
    padding-bottom: 160px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.porfolio_title h2 {
    text-align: center;
    font-size: 16rem;
    font-family: "Abril Fatface", serif;
    padding-top: 120px;
}

.porfolio_title h2 span {
    display: inline-block;
}

.porfolio_title span {
    opacity: 0;
    display: inline-block;
    animation: fadeInUp 1s forwards;
}

.porfolio_title h2 span:first-child {
    animation-delay: 0s;
}

h2 span:nth-child(2) {
    animation-delay: 0.2s;
}

h2 span:nth-child(3) {
    animation-delay: 0.4s;
}

h2 span:nth-child(4) {
    animation-delay: 0.6s;
}

h2 span:nth-child(5) {
    animation-delay: 0.8s;
}

h2 span:nth-child(6) {
    animation-delay: 1s;
}

h2 span:nth-child(7) {
    animation-delay: 1.2s;
}

h2 span:nth-child(8) {
    animation-delay: 0.3s;
}

h2 span:nth-child(9) {
    animation-delay: 0.3s;
}

h2 span:nth-child(10) {
    animation-delay: 1.6s;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(0);
        animation-duration: 1s;
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

.sub_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_profile p {
    font-size: 24px;
    text-align: center;
    opacity: 0;
    animation-delay: 2.2s;
    animation: fadeInUp 1s forwards;
    animation-delay: 2.2s;
}

.sub_profile .name {
    margin-bottom: 20px;
}
.year {padding-bottom: 24px;}
.intro .title p span {
    display: inline-block;
}

.sub_profile .scroll_down {
    position: relative;
    animation: scroll 3s ease-in infinite;
}

.scroll_down::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(img/scroll.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: -5px;
}

.scroll_down::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(img/scroll.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: -4px;
}

@keyframes scroll {
    0% {
        opacity:1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

/* 프로필 */
article.introduce {
    padding: 160px 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 28px;
}

.content>div {
    width: 50%;
}

.content_left h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
}

.content_left p {
    margin-bottom: 20px;
}

.content_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.content_right>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_right h4 {
    font-size: 24px;
    font-weight: 900;
}

.content_right .des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.content_right .des p {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.content_right .tool .tool-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
}

.tool-box p {
    font-size: 0;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

p.html {
    background: url(img/html5.png);
}

p.css {
    background: url(img/css.png);
}

p.js {
    background: url(img/jquery.png);
}

p.ps {
    background: url(img/icon_photoshop.png);
}

p.figma {
    background: url(img/icon_figma-dark.png);
}

p.vscode {
    background: url(img/icons_vscode-dark.png);
}

/* redesign */
article.puzzle {
    padding: 160px 0;
}

.project_overview p {
    margin-bottom: 40px;
}

.project_info {
    margin-bottom: 92px;
}

.project_info p {
    margin-bottom: 0px;
}

.btn_group {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.project_preview {
    position: relative;
    overflow: hidden;
}

.project_preview img {
    display: block;
    width: 100%;
    overflow: hidden;
}

.scroll_img {
    position: absolute;
    top: 7.5%;
    left: 0%;
    width: 100%;
    height: 61%;
    border-radius: 30px;
    overflow: hidden;
    z-index: -1;

}

.scroll_img img {
    width: 100%;
    display: block;
}

/* 클론 */
article.clone {
    width: 100%;
    padding: 160px 0;
}

ul.clone_list {
    padding-top: 60px;
}

ul.clone_list .list {}

.clone_list li .clone_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.clone_title h3 {
    font-size: 30px;
    font-weight: 900;
}

.clone_title .down {
    width: 40px;
    cursor: pointer;
}

.down img {
    width: 100%;
    display: block;
}

.clone_des {
    width: 100%;
    padding: 60px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clone_des .clone_preview {
    position: relative;
    width: 375px;
    height: 400px;
    overflow: hidden;
}

.clone_preview video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sk {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.sk p {
    font-size: 30px;
    font-weight: 900;
    word-break: keep-all;
}

.sk p .red {
    color: #CE0E2D;
    font-weight: 900;
}

.sk p .orange {
    color: #EE7623;
}

.clone_des .project {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.clone_des .project h4 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}

.project .project_des {
    margin-bottom: 40px;
}

.project .page span {
    font-weight: 900;
    padding-right: 20px;
}

.project .btn {
    margin-top: 65px;
}

footer {
    width: 100%;
    padding: 80px 0;
    background-color: #000000;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

footer .name {
    margin-bottom: 20px;
}

footer .name span:first-child {
    font-weight: 100;
}

footer .name span:last-child {
    font-size: 24px;
    font-weight: 400;
}

footer p {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.8;
}

footer p b {
    margin-right: 6px;
}