@charset "utf-8";

/*  영역 타이틀 */
h2.sec-tit {
    text-align: center;
    margin-bottom: 80px;
}

h2 .title-en {
    color: #3A98B9;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

h2 .title-ko {
    font-size: 32px;
    font-weight: 700;
}

/* 버튼 공통 */
.btn {
    width: 180px;
    border: 1px solid #3A98B9;
    padding: 12px 0;
    border-radius: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3A98B9;
    text-align: center;
}

.btn:hover {
    border-color: #3A98B9;
    background-color: #3A98B9;
    color: #fff;
}

/*******************************************************/
header {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 20px 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 4px #eee;
    opacity: 0;
    font-family: "Archivo", sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 0 40px;
}

nav ul li:hover a {
    color: #3A98B9;
    font-weight: 700;

}

/* 메인 */
article.intro {
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro .title {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .title h2 {
    text-align: center;
    font-size: 10rem;
    font-family: "Gravitas One", serif;
    letter-spacing: -20px;
    color: #000;
}

.title h2 span {
    display: inline-block;
    text-transform: uppercase;
}

.title h2 span {
    opacity: 0;
    display: inline-block;
    animation: fadeInUp 1s forwards;
}

.title h2 span:first-child {
    animation-delay: 0s;
}

.title h2 span:nth-child(2) {
    animation-delay: 0.2s;
}

.title h2 span:nth-child(3) {
    animation-delay: 0.4s;
}

a.title h2 span:nth-child(4) {
    animation-delay: 0.6s;
}

.title h2 span:nth-child(5) {
    animation-delay: 0.8s;
}

.title h2 span:nth-child(6) {
    animation-delay: 1s;
}

.title h2 span:nth-child(7) {
    animation-delay: 1.2s;
}

.title h2 span:nth-child(8) {
    animation-delay: 0.3s;
}

.title h2 span:nth-child(9) {
    animation-delay: 0.3s;
}

.title h2 span:nth-child(10) {
    animation-delay: 1.6s;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(0);
        animation-duration: 1s;
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}


article.intro .title p {
    font-size: 32px;
    text-align: center;
    opacity: 0;
    animation-delay: 2.2s;
    font-family: "Archivo", sans-serif;
    /*  animation: fadeInUp 1s forwards;
    animation-delay: 2.2s; */
}

article.introduce {
    width: 100%;
    padding: 120px 0;
    margin-bottom: 120px;
    background: url(img/bg4.jpg) no-repeat left top/contain;
}

article.introduce .inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

article.introduce .content-left {
    height: 100%;
}

article.introduce .content-left h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 60px;
}

article.introduce .content-left p {
    font-size: 18px;
    margin-bottom: 20px;
}

article.introduce .content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    height: 100%;
}

article.introduce .content-right>div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap: 60px;
}

article.introduce .content-right>div>h3 {
    color: #3A98B9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100px;
}

article.introduce .content-right .experience .des p:last-child {
    font-size: 0;
    position: relative
}

article.introduce .content-right>div>.des p span {
    color: #ccc;
    font-size: 14px;
}

article.introduce .content-right .tool .tool-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
    width: 140px;
}

article.introduce .content-right .tool p {
    font-size: 0;
    width: 32px;
    height: 32px;
}

article.introduce .content-right .tool p.html {
    background: url(img/html5.png) no-repeat center center / contain;
}

article.introduce .content-right .tool p.css {
    background: url(img/css.png) no-repeat center center / contain;
}

article.introduce .content-right .tool p.js {
    background: url(img/jquery.png) no-repeat center center / contain;
}

article.introduce .content-right .tool p.ps {
    background: url(img/icon_photoshop.png) no-repeat center center / contain;
}

article.introduce .content-right .tool p.figma {
    background: url(img/icon_figma-dark.png) no-repeat center center / contain;
}

article.introduce .content-right .tool p.vscode {
    background: url(img/icons_vscode-dark.png) no-repeat center center / contain;
}

/* puzzle */
article.puzzle {
    width: 100%;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

article.puzzle .bg {
    font-family: "Archivo", sans-serif;
    font-size: 15rem;
    font-weight: 900;
    color: #f0f0f0;
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 10%;
    z-index: -1;
}

article.puzzle .bg br {
    display: none;
}

article.puzzle .text-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

article.puzzle .text-box .txt {
    width: 100%
}

article.puzzle .text-box h2 {
    font-family: "Archivo", sans-serif;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

article.puzzle .text-box p.period span {
    font-size: 24px;
    font-weight: 700;
}

article.puzzle .text-box p {
    margin-bottom: 16px;
}

article.puzzle .text-box .btn-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

.puzzle-img .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 80px;
}


.swiper>.swiper-wrapper>.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    box-shadow: 0 0 4px 0 rgba(150, 150, 150, 0.3);
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.puzzle-img>.swiper>.swiper-pagination {
    bottom: 0px;
}

article.clone {
    width: 100%;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article.clone .clone-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:60px;
}

article.clone .clone-box .box {
    width: 100%;
    height:400px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

article.clone .clone-box .box.sk {
    background-color: #CE0E2D;
}

article.clone .clone-box .box.the-more {
    background-color: #000;
}

article.clone .clone-box .box a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article.clone .clone-box .box a:hover img {
    width: 200px;
    transform: scale(1.2);
}

article.clone .clone-box .box a img {
    width: 200px;
    display: block;
    transition: all 1s ease-out;
}

footer {
    width: 100%;
    padding: 40px 60px;
    background-color: #000000;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

footer .name {
    margin-bottom: 20px;
}

footer .name span:first-child {
    font-weight: 100;
}

footer .name span:last-child {
    font-size: 24px;
    font-weight: 400;
}

footer p {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.8;
}

footer p b {
    margin-right: 6px;
}