@charset "utf-8";

/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nunito', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

span {
    display: block;
}

ul,
ol,
li {
    list-style-type: none;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
}

html,
body {
    position: relative;
}

div.container {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
}


/*  영역 타이틀 */
h2.sec-tit {
    text-align: center;
    margin-bottom: 80px;
}

h2 .title-en {
    color: #3A98B9;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

h2 .title-ko {
    font-size: 32px;
    font-weight: 700;
}

/* 버튼 공통 */
.btn {
    width: 180px;
    border: 1px solid #ccc;
    padding: 12px 0;
    border-radius: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #888;
    text-align: center;
}

.btn:hover {
    border-color: #000;
    color: #000;
}

/*******************************************************/
header {
    width: 100%;
    height: 24px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 20px 24px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;

    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
}

nav {
    position: fixed;
    left: 1%;
    bottom: 2%;
    z-index: 98;
    color: #ddd;
    opacity: 0;
    font-weight: 700;
}

nav ul li {
    position: relative;
    cursor: pointer;
    padding: 8px 20px;
}

nav ul li a {
    color: #ddd;
}

nav ul li:hover a {
    color: #000;
    font-weight: 700;
}

nav ul li:hover::after {
    background-color: #666;
    height: 3px;

}

nav ul li::after {
    content: '';
    display: block;
    width: 8px;
    height: 1px;
    background-color: #eee;
    position: absolute;
    left: 8px;
    top: 20px;

}

article.intro {
    width: 100%;
    height: 100vh;
    position: relative;
}

article.intro .title {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article.intro .title h1 {
    text-align: center;
    font-size: 13rem;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    color: #000;
    margin-bottom: 80px;
}

article.intro .title h1 span {
    display: inline-block;
    text-transform: uppercase;
}

article.intro .title h1 span {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    animation: fadeInUp 2s forwards;
}

article.intro .title h1 span:first-child {
    animation-delay: 0s;
}

article.intro .title h1 span:nth-child(2) {
    animation-delay: 0.2s;
}

article.intro .title h1 span:nth-child(3) {
    animation-delay: 0.4s;
}

article.intro .title h1 span:nth-child(4) {
    animation-delay: 0.6s;
}

article.intro .title h1 span:nth-child(5) {
    animation-delay: 0.8s;
}

article.intro .title h1 span:nth-child(6) {
    animation-delay: 1s;
}

article.intro .title h1 span:nth-child(7) {
    animation-delay: 1.2s;
}

article.intro .title h1 span:nth-child(8) {
    animation-delay: 0.3s;
}

article.intro .title h1 span:nth-child(9) {
    animation-delay: 0.3s;
}

article.intro .title h1 span:nth-child(10) {
    animation-delay: 1.6s;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(0);
        animation-duration: 1s;
    }

    100% {
        opacity: 1;
        transform: translateY(20px);
    }
}

article.intro .title p {
    font-size: 24px;
    text-align: center;
    color: #bbb;
    opacity: 0;
}

article.intro .title p span:first-child {
    color: #aaa;
    font-size: 20px;
    font-weight: 400;
}

article.intro .title p span:last-child {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 7px;
}


article.introduce {
    width: 100%;
    height: 100vh;
    background-image: url(img/bg_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    position: relative;

}

article.introduce .text-box {
    position: absolute;
    left: 2%;
    bottom: 2%;
    color: #fff;
}

article.introduce .text-box h2 {
    font-size: 32px;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
}

article.introduce .text-box p {
    font-size: 18px;
    font-size: 1.25rem;
    margin-bottom: 16px;
}

article.introduce .text-box p.tool{
    font-size: 18px;
    font-weight: 700;
}

article.introduce .text-box p.period {
    font-size: 18px;
    font-weight: 700;
}

article.introduce .text-box .img-box img {
    display: inline-block;
    width: 48px;
    margin-right: 10px;
}


article.sitemap {
    width: 100%;
    margin-bottom: 120px;
}

article.sitemap .mapbox {
    width: 80%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

article.sitemap .mapbox .view {
    width: 300%;
    display: flex;
    flex-direction: row;
}


article.sitemap .mapbox .view .img-box {
    width: 100%;
}

article.sitemap .mapbox img {
    width: 100%;
}

article.sitemap .mapbox .slide-btn {
    width: 50px;
}

article.sitemap .mapbox .slide-btn img {
    width: 100%;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article.design {
    width: 100%;
    margin-bottom: 120px;
}

article.design .content-box {
    text-align: center;
}

article.design .content-box .btngroup {
    margin-bottom: 60px;
}

article.design .content-box .btngroup a {
    display: inline-block;
}

article.design .content-box .btngroup a~a {
    margin-left: 12px;
}

article.design .content-box .btngroup a.on {
    background-color: #000;
    color: #fff;
}

article.design .des-group {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

article.design .des-group .des-group-wrap {
    width: 100%;
    height: 780px;
    position: relative;
   
}

article.design .des-group .img-box {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgb(204, 204, 204);
    box-sizing: border-box;
}

article.design .des-group .img-box.font {
    display: none;
}
article.design .des-group .img-box.design-des {
    display: none;
}

article.design .img-box img {
    width: 100%;
    display: block;
}

article.website {
    width: 100%;
    margin-bottom: 120px;
}

article.website div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

article.website .btn:hover {
    background-color: #3A98B9;
    border-color: #3A98B9;
    color: #fff;
}

article.clone {
    width: 100%;
    margin-bottom: 120px;
}

article.clone div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

article.clone div a {
    width: 200px;
    height: 180px;
    padding: 28px;
    box-sizing: border-box;
    border-radius: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article.clone div a img {
    width: 100%;
    display: block;

}

footer {
    width: 100%;
    padding: 40px 60px;
    background-color: #000;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

footer .name {
    margin-bottom: 20px;
}

footer .name span:first-child {
    font-weight: 100;
}

footer .name span:last-child {
    font-size: 24px;
    font-weight: 100;
}

footer p {
    display: inline-block;
    margin-right: 20px;
    color: #ccc;
}

footer p b {
    margin-right: 6px;
}