@charset "utf-8";
@media all and (max-width: 1440px) {

    .porfolio_title h2 {
        font-size: 11rem;
    }

}

@media all and (max-width: 1024px) {
    .porfolio_title h2 {
        font-size: 8rem;
    }

    .clone_des .clone_preview {
        width: 320px;
        height: 320px;
    }
}

@media all and (max-width: 768px) {
    nav {
        display: none;
    }
    .nav_btn {
        display: flex;
    }
    nav ul li {
        padding: 0 20px;
    }

    article {
        padding: 80px 0;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .content_title {
        text-align: center;
        margin-bottom: 40px;
    }

    .content_right h4 {
        font-size: 20px;
    }

    .porfolio_title h2 {
        font-size: 6rem;
    }

    .content_right .tool .tool-box {
        gap: 8px;
    }

    .tool .tool-box p {
        width: 40px;
        height: 40px;
    }

    .clone_list li .clone_title {
        padding: 20px 0;
    }

    .clone_des {
        padding: 40px 20px;
    }

    .clone_des .project h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .btn {
        width: 120px;
        padding: 10px 0;
    }

    .project .btn {
        margin-top: 40px;
    }
    .madal {
        display: block;
    }
}

@media all and (max-width: 720px) {
    .clone_des {
        flex-direction: column;
        gap: 20px;
    }

    .clone_des .clone_preview {
        width: 100%;
    }

    .clone_des .project {
        width: 100%;
    }
}

@media all and (max-width: 660px) {
    .content_title h2 {
        font-size: 60px;
    }

    .content_left h3 {
        font-size: 24px;
    }
}

@media all and (max-width: 520px) {
    .porfolio_title h2 {
        font-size: 4rem;
    }

    article.introduce .content-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    .clone_des .project {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    article {
        padding: 40px 0;
    }

    nav ul li {
        padding: 0 10px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .sub_profile {
        font-size: 20px;
    }

    .content_right>div {
        gap: 8px;
    }

    .content_right .des {
        gap: 0;
    }

    .des p {
        font-size: 14px;
    }

    .content_title {
        margin-bottom: 20px;
    }


    .content_title h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .content_left h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .content_right h4 {
        font-size: 18px;
    }

    .clone_title h3 {
        font-size: 20px;
    }

    .project_overview p br {
        display: none;
    }

    .project_info {
        margin-bottom: 24px;
        font-size: 14px;
    }

    ul.clone_list {
        padding-top: 0;
    }

    .clone_des .clone_preview {
        height: 240px;
    }

    .project .project_des {
        margin-bottom: 20px;
    }

    .project .page {
        font-size: 14px;
    }

    .project .page span {
        padding-right: 8px;
    }

}

@media all and (max-width: 425px) {
    .porfolio_title h2 {
        font-size: 3.5rem;
    }
}

@media all and (max-width: 375px) {
    .porfolio_title h2 {
        font-size: 3rem;
    }
}


@media all and (max-width: 320px) {}