@charset "utf-8";
@media all and (max-width: 1440px) {

    article.intro .title h2 {
        font-size: 8rem;
    }

    article.puzzle .bg {
        font-size: 11.5rem;
    }

    article.introduce .content-left h2 {
        font-size: 40px;
    }

    article.puzzle .text-box p {
        font-size: 14px;
    }


}

@media all and (max-width: 1024px) {

    .container>article {
        margin-bottom: 60px;
    }

    .container>article.intro {
        margin-bottom: 0;
    }

    article.intro .title h2 {
        font-size: 5rem;
    }

    article.introduce .content-left h2 {
        font-size: 40px;
        margin-bottom: 40px;
    }

    article.introduce .content-left p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    article.puzzle .bg {
        font-size: 10rem;
    }

    article.puzzle .text-box p.tool {
        font-size: 16px;
        font-weight: 700;
    }

    article.puzzle .text-box p.period {
        font-size: 16px;
        font-weight: 700;
    }

    article.intro .title h1 {
        font-size: 4rem;
    }


}

@media all and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    nav ul li {
        padding: 0 10px;
    }

    h2 .title-en {
        font-size: 16px;
    }

    h2 .title-ko {
        font-size: 24px;
    }

    h2.sec-tit {
        margin-bottom: 40px;
    }

    .btn {
        width: 120px;
        font-size: 14px;
    }

    article.introduce .inner {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
    }

    article.introduce .content-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 10px;
        flex-wrap: wrap;
    }

    article.introduce .content-right>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    article.intro .title h2 {
        font-size: 3rem;
    }

    article.introduce .content-left h2 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    article.introduce .content-left p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    article.puzzle .bg {
        font-size: 7.5rem;
    }

    article.puzzle .bg br {
        display: block;
    }

    article.puzzle .text-box {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }


    article.puzzle .text-box .btn-box {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 10px;
    }

    article.clone {
        width: 100%;
        margin-bottom: 60px;
    }

    article.clone .clone-box .box a {
        width: 180px;
        height: 180px;
    }
}

@media all and (max-width: 700px) {
    article.clone .clone-box {
        flex-direction: column;
        gap: 20px;
    }

    article.clone .clone-box .box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    article.clone .clone-box .box p {
        width: 100px;
    }

    article.clone .clone-box .box p span {
        display: block;
        margin-bottom: 4px
    }
}

@media all and (max-width: 520px) {
    article.introduce .content-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 480px) {
    header {
        padding: 0 12px;
    }

    nav ul li {
        font-size: 14px;
        padding: 0 8px;
    }

    .container>article {
        margin-bottom: 40px;
    }

    .container>article.intro {
        margin-bottom: 0;
    }

    h2 .title-en {
        font-size: 14px;
    }

    h2 .title-ko {
        font-size: 20px;
    }

    h2.sec-tit {
        margin-bottom: 20px;
    }

    article.intro .title h2 {
        font-size: 2rem;
    }
}

@media all and (max-width: 425px) {
    article.puzzle .bg {
        font-size: 6.5rem;
    }

    .swiper>.swiper-wrapper>.swiper-slide {
        width: 360px;
    }
}

@media all and (max-width: 375px) {
    article.introduce .content-left h2 {
        font-size: 24px;
    }

    article.puzzle .bg {
        font-size: 5.5rem;
    }

    .swiper>.swiper-wrapper>.swiper-slide {
        width: 300px;
    }
}


@media all and (max-width: 320px) {
    .swiper>.swiper-wrapper>.swiper-slide {
        width: 260px;
    }
}