@charset "utf-8";
@media all and (max-width: 1440px) {

    nav {
        display: none;
    }

    article.intro .title h1 {
        font-size: 8rem;
    }

    article.introduce .text-box p {
        font-size: 14px;
    }

    article.introduce .text-box {
        left: 2%;
        bottom: 2%;
        padding: 0 20px;
        box-sizing: border-box;
    }

    article.design .des-group .des-group-wrap {
        height: 600px;
    }
}

@media all and (max-width: 1024px) {

    .container>article {
        margin-bottom: 60px;
    }

    article.intro .title h1 {
        font-size: 4rem;
    }

    article.design .des-group .des-group-wrap {
        height: 440px;
    }
}

@media all and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    h2 .title-en {
        font-size: 16px;
    }

    h2 .title-ko {
        font-size: 24px;
    }
    h2.sec-tit {
        margin-bottom: 40px;
    }

    .btn {
        width: 120px;
        font-size: 14px;
    }
    article.intro .title h1 {
        font-size: 3rem;
    }



    article.introduce {
        width: 100%;
        height: 50%;
        background-image: url(img/bg_img2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 120px;
        position: relative;

    }

    article.introduce::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    article.sitemap .mapbox {
        width: 100%;
    }

    article.design .des-group {
        width: 100%;
    }

    article.introduce .text-box .img-box img {
        width: 32px;
    }

    article.design .des-group .des-group-wrap {
        height: 340px;
    }

    article.clone {
        width: 100%;
        margin-bottom: 60px;
    }
}

@media all and (max-width: 480px) {
    h2 .title-en {
        font-size: 14px;
    }

    h2 .title-ko {
        font-size: 20px;
    }

    h2.sec-tit {
        margin-bottom: 20px;
    }

    article.intro .title h1 {
        font-size: 2rem;
    }

    article.design .des-group .des-group-wrap {
        height: 200px;
    }

    .btn {
        width: 80px;
        padding: 6px 0;
    }

    article.website .btn {
        width: 100px;
        padding: 8px 16px;
    }
}