@charset "utf-8";
@media all and (max-width: 1440px) {

    .porfolio_title h2 {
        font-size: 12rem;
    }

}

@media all and (max-width: 1024px) {
    .porfolio_title h2 {
        font-size: 8rem;
    }

    .clone_des .clone_preview {
        width: 320px;
        height: 320px;
    }
}

@media all and (max-width: 768px) {
    nav ul li {
        padding: 0 20px;
    }

    article {
        padding: 80px 0;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .content_title {
        text-align: center;
        margin-bottom: 60px;
    }

    .content_right h4 {
        font-size: 20px;
    }

    .porfolio_title h2 {
        font-size: 6rem;
    }

    .content_right .tool .tool-box {
        gap: 8px;
    }

    .tool .tool-box p {
        width: 40px;
        height: 40px;
    }

    .clone_des {
        padding: 40px 20px;
    }

    .clone_des .project h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .btn {
        width: 120px;
        padding: 10px 0;
    }

    .project .btn {
        margin-top: 40px;
    }
}

@media all and (max-width: 720px) {
    .clone_des {
        flex-direction: column;
        gap: 20px;
    }

    .clone_des .clone_preview {
        width: 100%;
    }

    .clone_des .project {
        width: 100%;
    }
}

@media all and (max-width: 660px) {
    .content_title h2 {
        font-size: 60px;
    }

    .content_left h3 {
        font-size: 24px;
    }
}

@media all and (max-width: 520px) {
    .porfolio_title h2 {
        font-size: 4rem;
    }

    article.introduce .content-right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }

    .clone_des .project {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .content_title h2 {
        font-size: 20px;
    }
}

@media all and (max-width: 425px) {

}

@media all and (max-width: 375px) {

}


@media all and (max-width: 320px) {

}