/*** common.css ********************/
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/*
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Merriweather', serif;
*/

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.inner {
    width: 1280px;
    margin: 0 auto;
    /*outline: 2px solid red;*/
}

.merri {
    font-family: 'Merriweather', serif;
}





