/*** footer.css ********************/
@charset "utf-8";

/***footer************************************************/
footer {
    width: 100%;
    background-color: lightgray;
    padding: 60px 0;
}
footer a {
    color: #333;
}
footer a:hover {
    text-decoration: underline;
}

footer .sitemap {
    margin-bottom: 60px;
    /*background-color: yellow;*/
}
footer .sitemap .mapbox {
    width: 16.66%;
    float: left;
}
footer .sitemap .mapbox h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
    color: rgb(207,102,26);
    margin-bottom: 20px;
}
footer .sitemap .mapbox ul {}
footer .sitemap .mapbox ul li {
    /*margin-bottom: 10px;*/
    line-height: 30px;
    letter-spacing: -0.4px;
}

footer .footer-bottom {
    border-top: 1px solid #333;
    padding-top: 30px;
}
footer .footer-bottom .left-box {
    float: left;
}
footer .footer-bottom .left-box .links {
    margin-bottom: 20px;
}
footer .footer-bottom .left-box .links a {
    border-right: 2px solid #333;
    padding-right: 8px;
    padding-left: 6px;
}
footer .footer-bottom .left-box .links a:first-child {
    padding-left: 0;
}
footer .footer-bottom .left-box .links a:last-child {
    border: 0;
}
footer .footer-bottom .sns {
    float: right;
}

