/*** reset.css ********************/
@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}


/*
주로 사용하는 reset.css

ul:after, ol:after {
    content: "";
    display: block;
    clear: both;
}
li {
    float: left; 
    float: none;
}
a {
    display: block;
}
*/













