@charset "utf-8";

body {
    overflow-x: hidden;
}

section {
    margin-bottom: 160px;
}

article.banner {
    width: 100%;
    height: 850px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 120px;
    position: relative
}

.banner .title {
    text-align: center;
    color: #fff;
    
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);
    
}

.banner .title h2 {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 700;
}

.banner .title p {
    font-size: 18px;
}

article.custom {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 120px;
    position: relative;
}

.custom .title {
    margin-bottom: 80px;

}

.custom .title .step {
    color: rgba(247, 247, 247, 0.8);
    position: absolute;
    left: 2%;
    top: -82px;
    font-size: 200px;
    font-weight: 900;
}

.custom .title h2 {
    position: relative;
    z-index: 99;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.custom .title p {
    font-size: 24px;
    color: #595959;
}

.step .stepbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;

}

.step .stepbox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.step .stepbox .step-des {
    width: 50%;
}

.step .stepbox .step-des h2 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 24px;
}

.stepbox .step-des p {
    font-size: 18px;
    line-height: 30px;
    color: #595959;
}

.stepbox1 .step-des .step-num,
.stepbox3 .step-des .step-num {
    font-size: 160px;
    font-weight: 700;
    color: rgba(247, 247, 247, 0.8);
    position: absolute;
    right: 18%;
    bottom: 47px;
   
}
.stepbox2 .step-des .step-num {
    font-size: 160px;
    font-weight: 700;
    color: rgba(247, 247, 247, 0.8);
    position: absolute;
    left: 14%;
    bottom: 47px;
}

.stepbox .img-box {
    width: 50%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.stepbox .imgbox1 {
    position: relative;
    left: -300px;
    opacity: 0;
    transition: all 3s;
}

.stepbox .imgbox2 {
    position: relative;
    left: 300px;
    opacity: 0;
    transition: all 3s;
}

.stepbox .imgbox3 {
    position: relative;
    left: -300px;
    opacity: 0;
    transition: all 3s;
}

.stepbox .img-box img {
    height: 100%;
    display: block;
}
section .btn {
    margin-top: 160px;
    text-align: center;
}

section .btn a {
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 400;
    color: #3C1152;
    border: 1px solid #3C1152;
    border-radius: 100px;
    text-align: center;
}

section .btn a:hover {
    display: inline-block;
    padding: 14px 40px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #3C1152;
    text-align: center;
    color: #fff;
}

.btn-more {
    border-radius: 100px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}

.btn-more a {
    display: block;
    padding-top: 50px;


    background-image: url(../../img/icon/scroll1.png);
    background-repeat: no-repeat;
    background-position: center 14px;




    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes move {
    0% {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-50%);
        left: 50%;
        top: 20px;
    }
}

