@charset "utf-8";
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nunito', sans-serif;
 font-family: "Archivo", sans-serif;
*/
/* .gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
} */
/* .abril-fatface-regular {
   font-family: "Abril Fatface", serif;
   font-weight: 400;
   font-style: normal;
 } */

html,
body {
  position: relative;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  background-color: #000;
}

article {
  padding: 160px 0;
}

.inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

a {
  color: #fff;
}

.content_title h2 {
  font-size: 80px;
  font-weight: 900;
  opacity: 0.2;
  font-family: "Archivo", sans-serif;
}

/* 버튼 공통 */
.btn {
  width: 160px;
  border: 1px solid #fff;
  padding: 12px 0;
  border-radius: 50px;
  color: #fff;
  text-align: center;
}

.rotate {
  transform: rotate(180deg);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  color: #fff;
  z-index: 99;

  display: none;
}

.close_btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 27px;
  z-index: 9999;
}
.modal ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.modal_list {
  font-weight: 500;
  font-size: 32px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}