@charset "utf-8";
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nunito', sans-serif;
 font-family: "Archivo", sans-serif;
*/
/* .gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
} */

html,
body {
  position: relative;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #333;
}

.inner {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: border-box;
}