@charset "utf-8";
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nunito', sans-serif;
 font-family: "Archivo", sans-serif;
*/
/* .gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
} */
 /* .abril-fatface-regular {
   font-family: "Abril Fatface", serif;
   font-weight: 400;
   font-style: normal;
 } */

html,
body {
  position: relative;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
  background-color: #000;
}

.inner {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
a {
  color: #fff;
}

.content_title h2 {
  font-size: 60px;
  font-weight: 900;
  opacity: 0.2;
  font-family: "Archivo", sans-serif;
}

/* 버튼 공통 */
.btn {
  width: 160px;
  border: 1px solid #fff;
  padding: 12px 0;
  border-radius: 50px;
  color: #fff;
  text-align: center;
}
