@charset "utf-8";
* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

span {
  display: block;
}

ul,
ol,
li {
  list-style-type: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

