@charset "utf-8";

body {
    overflow-x: hidden;
}

section {
    margin-bottom: 160px;
}

article.banner {
    width: 100%;
    height: 850px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 120px;
}

.banner .title {
    text-align: center;
    color: #fff;
    transform: translateY(100%);
}

.banner .title h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.banner .title p {
    font-size: 24px;

    margin-bottom: 50px;
}

.banner .title .btn a {
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    text-align: center;
}

.banner .title .btn a:hover {
    display: inline-block;
    padding: 14px 40px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 100px;
    background-color: transparent;
    text-align: center;
}

article.custom {
    width: 100%;
    padding-top: 100px;
    margin-bottom: 120px;
    position: relative;
}

.custom .title {
    margin-bottom: 80px;

}

.custom .title .step {
    color: rgba(247, 247, 247, 0.8);
    position: absolute;
    left: 2%;
    top: -82px;
    font-size: 200px;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
}

.custom .title h2 {
    position: relative;
    z-index: 99;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.custom .title p {
    font-size: 24px;
    color: #595959;
}

.step .stepbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 80px;
    position: relative;

}

.step .stepbox2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.step .stepbox .step-des {
    width: 50%;
}

.step .stepbox .step-des h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 24px;
}

.stepbox .step-des p {
    font-size: 18px;
    line-height: 30px;
    color: #595959;
}

.stepbox1 .step-des .step-num,
.stepbox3 .step-des .step-num {
    font-size: 160px;
    font-weight: 700;
    color: rgba(247, 247, 247, 0.8);
    position: absolute;
    right: 20%;
    bottom: 47px;
    font-family: "Montserrat", sans-serif;
}
.stepbox2 .step-des .step-num {
    font-size: 160px;
    font-weight: 700;
    color: rgba(247, 247, 247, 0.8);
    position: absolute;
    left: 15%;
    bottom: 47px;
    font-family: "Montserrat", sans-serif;
}

.stepbox .img-box {
    width: 50%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.stepbox .imgbox1 {
    position: relative;
    left: -300px;
    opacity: 0;
    transition: all 3s;
}

.stepbox .imgbox2 {
    position: relative;
    left: 300px;
    opacity: 0;
    transition: all 3s;
}

.stepbox .imgbox3 {
    position: relative;
    left: -300px;
    opacity: 0;
    transition: all 3s;
}

.stepbox .img-box img {
    height: 100%;
    display: block;
}
.btn-more {
    border-radius: 100px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}

.btn-more a {
    display: block;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;


    background-image: url(../../img/icon/scroll1.png);
    background-repeat: no-repeat;
    background-position: center 14px;




    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes move {
    0% {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-50%);
        left: 50%;
        top: 20px;
    }
}









/* .step .stepwrap .step-des,
.step .stepwrap .imgbox {
    float: left;
    width: 48%;
}
.step .stepwrap .step-des {
    line-height: 24px;
    margin-right: 2%;
}

.stepwrap .step-des .title {}

.step-des .title {}

.step-des .title h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.step-des .title p {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 30px;
    height: 120px;
}

.step-des .btn {
    font-weight: 400;
    color: #595959;
    font-size: 14px;
    padding:  0 40px 0 0 ;
    background-image: url(../../img/icon/more_b.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; 
}


.step-des .boxwrap .box {
    float: left;
    width: 48%;
    margin-bottom: 40px;
}
.step-des .boxwrap .box:first-child {
    margin-right: 2%;
}
.boxwrap .box img{
    display: block;
    width: 80px;
    margin-bottom: 24px;
}
.boxwrap .box h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}
.boxwrap .box p{
    font-size: 16px;
    height: 92px;
    color: #797979;
}

.step .stepwrap .imgbox{
    height: 560px;
    overflow: hidden;
    background-color: #eee;
    
}

.stepwrap .imgbox img {
    display: block;
    width: 100%;
}
.stepwrap .imgbox1 {
    position: relative;
    left:-300px;
    opacity: 0;
    transition: all 3s;
}
.stepwrap .imgbox2 {
    position: relative;
    left:-300px;
    opacity: 0;
    transition: all 3s;
}
.stepwrap .imgbox3 {
    position: relative;
    left:300px;
    opacity: 0;
    transition: all 3s;
}
.step2 .stepwrap .step-des2,
.step2 .stepwrap .imgbox2 {
    float: right;
    width: 48%;
    margin: 0 2% 0 0;
}
.step1 .stepwrap .imgbox2:first-child{
    margin: 0;
} */