@charset "utf-8";

body {
    width: 100%;
    margin-top: 130px;
}

article.content-header {
    width: 100%;
    height: 320px;
    background-image: url(../img/bg_banner2.png);
    background-repeat: no-repeat;
    background-size: auto 320px;
    background-position:top;
    text-align: center;
    position: relative;    
}

.content-header .lnb {

}

.content-header .lnb h2 {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    
}
.content-header h2 span {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color:#8121DD;
}


.content-header .lnb nav {
    position: absolute;
    left: 50%;
    bottom: -63px;
    transform: translateX(-50%);
}
.content-header .lnb nav p {
    display: inline-block;
    padding: 4px 16px;
    font-size: 16px;
    border: 1px solid #878783;
    border-radius: 30px;
    color: #878784;
    cursor: pointer;
}
.lnb nav p.on {
    background-color: #5B1A7C;
    border: 1px solid #5B1A7C;;
    color: #fff;
}
.lnb nav p:hover {
    color:#5B1A7C;
    background-color: #FBFAFF;
    border: 1px solid #5B1A7C;
}

.lnb nav p~p{
    margin-left: 8px;
}


section .section-top {
    font-size: 16px;
    color: #878484;
    font-weight: 500;
    padding: 120px 0 40px;
}

section .section-top .filter {
    float: right;
}
section .section-top .filter p span:last-child {
    margin-left: 16px;
}
.section-top .count {
    float: left;
}
.section-top .count span{
    font-size: 20px;
    font-weight: 500;
    color: #5B1A7C;
}

article.list {
    margin-bottom: 80px;
}

.list ul li {
    float: left;
    width: 32%;
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 3%;
    position: relative;
}
ul li:nth-child(3n) {
    margin-right: 0;
}

ul li a p.badge-issue {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 12px;
    border: 1px solid #9747FF;
    background-color: #9747FF;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    z-index: 99;
}
ul li a p.badge-vitamin {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 12px;
    border: 1px solid #10A19D;
    background-color: #10A19D;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    z-index: 99;
}
ul li a p.badge-life {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px 12px;
    border: 1px solid #3C1152;
    background-color: #3C1152;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    z-index: 99;
}

ul li a .img-box {
    margin-bottom: 16px;
    overflow: hidden;
}

ul li a .img-box img {
    width: 100%;
    display: block;
    transition: all 0.6s;
}
ul li a .img-box:hover img {
    transform: scale(1.2);
}

ul li a .title {
    font-size: 18px;
    padding: 0 0 10px;
}
li a .title h3 {
    font-size: 18px;
    margin-bottom: 8px;
}
li a .title .tag {
    display: inline-block;
    font-size: 14px;
    color: #878484;
}

li a .title .tag span {
    color: #A050CC;
}

.btn-more {
    border-radius: 100px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

.btn-more a {
    display: block;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;


    background-image: url(../../img/icon/scroll1.png);
    background-repeat: no-repeat;
    background-position: center 14px;




    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes move {
    0% {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-50%);
        left: 50%;
        top: 20px;
    }
}

