@charset "utf-8";

body {
    width: 100%;
    margin-top: 130px;
    overflow-x: hidden;
}

article.content-header {
    width: 100%;
    height: 320px;
    background-image: url(../img/bg_banner2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 320px;
    text-align: center;
    position: relative;
}

.content-header .lnb {

}

.content-header h2 {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    font-weight: 700;
}
.content-header h2 span {
    font-size: 18px;
    color: #8121DD;
}
.content-header .lnb {
    position: absolute;
    left: 50%;
    bottom: -63px;
    transform: translateX(-50%);
}

.content-header .lnb p {
    display: inline-block;
    padding: 4px 16px;
    font-size: 16px;
    border: 1px solid #878783;
    border-radius: 30px;
    color: #878784;
    cursor: pointer;
}

nav.lnb p~p {
    margin-left: 8px;
}

.lnb p.on {
    background-color: #5B1A7C;
    border: 1px solid #5B1A7C;
    color: #fff;
}

.lnb p:hover {
    color: #5B1A7C;
    background-color: #FBFAFF;
    border: 1px solid #5B1A7C;
}

section {}

section .section-top {
    font-size: 16px;
    color: #878484;
    font-weight: 500;
    padding: 120px 0 40px;
    text-align: right;
}

section .section-top .filter {
    float: right;
}

section .section-top .filter p span:last-child {
    margin-left: 16px;
}

.section-top .count {
    float: left;
}

.section-top .count span {
    font-size: 20px;
    font-weight: 600;
    color: #5B1A7C;
}


/* 리뷰 리스트 */
article.review {
    margin-bottom: 80px;

}

article.review .reviewwrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.review ul li.review-box {
    /*   float: left;
    width: 32%; 
     margin-right: 2%;
    margin-bottom: 3%;*/

    padding: 24px;
    border: 1px solid #eee;
    border-radius: 30px;
    box-sizing: border-box;

}

ul li.review-box:nth-child(3n) {
    /*   margin-right: 0; */
}

ul .review-box .box-top {
    font-size: 14px;
    color: #878484;
    margin-bottom: 24px;
    position: relative;
    height: 27px;
}

.review-box .box-top p {
    display: inline-block;
}

.review-box .box-top p.count {
    font-size: 14px;
    padding: 2px 8px;
    border: 1px solid #26A6CC;
    border-radius: 100px;
    color: #26A6CC;
    font-weight: 600;
    margin-right: 10px;
}

.review-box .box-top p.purchased {
    padding: 2px 8px;
    color: #E81D75;
    border: 1px solid #E81D75;
    border-radius: 15px;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;

}

.review-box .box-top p.date {
    position: absolute;
    right: 0;
    top: 0;
}

/* .review-box .box-top p span.count {
    padding: 2px 6px;
    background-color: #5B1A7C;
    color: #fff;
    margin-right: 16px;
} */

.review-box .text {}

.review-box .text h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}

.review-box .text p {
    height: 60px;
    overflow: hidden;
    margin-bottom: 16px;
    color: #595959;
}

.review-box .text .btn {
    margin-bottom: 16px;
}

.text .btn a {
    font-size: 14px;
    color: #878484;
}


.review-box .box-bottom {
    margin-bottom: 8px;
}


.review-box .box-bottom p.user {
    color: #878484;
    font-size: 14px;
    margin-bottom: 8px;
}

.box-bottom img {
    height: 18px;
}

.box-bottom .score {
    display: inline-block;
    color: #333;
}

/* 이미지 박스 */
.review-box .img-box {
    width: 100%;
}

.img-box a {
    float: left;
    width: 31.33%;
    height: 100px;
    margin-right: 3%;
    border-radius: 10px;
    overflow: hidden;
}

.img-box a:last-child {
    margin-right: 0;
}

.img-box a img {
    width: 100%;
    display: block;
}

.btn-more {
    border-radius: 100px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
}

.btn-more a {
    display: block;
    font-family: "Montserrat", sans-serif;
    padding-top: 50px;


    background-image: url(../../img/icon/scroll1.png);
    background-repeat: no-repeat;
    background-position: center 14px;




    position: absolute;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}



@keyframes move {
    0% {
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-50%);
        left: 50%;
        top: 20px;
    }
}


